html {
    font-size: 20px;
  }
  
  .panel {
    background:whitesmoke;
    border: solid white;
  }
  
  .results {
    font-size: 1em;
    color: #FFFFFF;
  }
  
  .dropdown {
    margin-bottom: 50px;
  }
  
  .inline-block {
    display: inline-block;
  }
  
  .center {
    width: 25%;
    margin: 0 auto 30px;
  }

  .row{
      justify-content: center;
  }