body {
    height: 100vh;
    background-image: url(/img/background.jpg);
    background-size: fixed;
  } 
  
  section {
    flex: 1;
  }
  
  section > div {
    flex: 1;
    border-radius: 3em;
    background: rgba(0, 0, 0, 0.5);
  }
  
  section > div > ul {
    list-style: none;
    padding-left: 0px;
  }
  
  li {  
    font-size: 25px;
    padding-left: 15px;
  } 